nodeRed_OPCUA_SERVER/flows_Huawei-Inverter_OPCUA.json
[{"id":"27f649d0.15a55e","type":"inject","z":"69b76807.7c37d","name":"","repeat":"1","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":770,"y":1940,"wires":[["4fb6e5bb.8bc054"]]},{"id":"4fb6e5bb.8bc054","type":"function","z":"69b76807.7c37d","name":"set flow context Inputs / Ouputs","func":"\nflow.set(\"f_opc\", global.get(\"f\"));\nflow.set('Pac_opc', global.get(\"Pac\"));\nflow.set('Qac_opc', global.get(\"Qac\"));\nflow.set('PRac_opc', global.get(\"PRac\"));\nflow.set('IRac_opc', global.get(\"IRac\"));\nflow.set('VRac_opc', global.get(\"VRac\"));\nflow.set('Cos(fi)_opc', global.get(\"Cosfi\"));\nflow.set('Eficiencia_opc', global.get(\"Eficiencia\"));\n\nflow.set('Vcc1_opc', global.get(\"Vcc1\"));\nflow.set('Icc1_opc', global.get(\"Icc1\"));\nflow.set('Vcc2_opc', global.get(\"Vcc2\"));\nflow.set('Icc2_opc', global.get(\"Icc2\"));\nflow.set('Vcc3_opc', global.get(\"Vcc3\"));\nflow.set('Icc3_opc', global.get(\"Icc3\"));\nflow.set('Vcc4_opc', global.get(\"Vcc4\"));\nflow.set('Icc4_opc', global.get(\"Icc4\"));\nflow.set('Pcc1_opc', global.get(\"Pcc1\"));\nflow.set('Pcc2_opc', global.get(\"Pcc2\"));\nflow.set('Pcc3_opc', global.get(\"Pcc3\"));\nflow.set('Pcc4_opc', global.get(\"Pcc4\"));\nflow.set('Pcc_opc', global.get(\"Pcc\"));\n\nmsg.payload = [\n    flow.get('f_opc'),\n    flow.get('Pac_opc'),\n    flow.get('Qac_opc'),\n    flow.get('PRac_opc'),\n    flow.get('IRac_opc'),\n    flow.get('VRac_opc'),\n    flow.get('Cos(fi)_opc'),\n    flow.get('Eficiencia_opc'),\n    flow.get('Vcc1_opc'),\n    flow.get('Vcc2_opc'),\n    flow.get('Vcc3_opc'),\n    flow.get('Vcc4_opc'),\n    flow.get('Icc1_opc'),\n    flow.get('Icc2_opc'),\n    flow.get('Icc3_opc'),\n    flow.get('Icc4_opc'),\n    flow.get('Pcc1_opc'),\n    flow.get('Pcc2_opc'),\n    flow.get('Pcc3_opc'),\n    flow.get('Pcc4_opc'),\n    flow.get('Pcc_opc'),\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":1940,"wires":[["40d6c287.3e4fcc"]]},{"id":"40d6c287.3e4fcc","type":"debug","z":"69b76807.7c37d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1260,"y":1940,"wires":[]},{"id":"11922866.2afa3","type":"opcua-compact-server","z":"69b76807.7c37d","port":"5400","endpoint":"/OPCUA/GR","productUri":"","acceptExternalCommands":true,"maxAllowedSessionNumber":"10","maxConnectionsPerEndpoint":"10","maxAllowedSubscriptionNumber":"100","alternateHostname":"","name":"","showStatusActivities":false,"showErrors":true,"allowAnonymous":true,"individualCerts":false,"isAuditing":false,"serverDiscovery":false,"users":[{"name":"manuel","password":"manuel"}],"xmlsetsOPCUA":[],"publicCertificateFile":"","privateCertificateFile":"","registerServerMethod":"1","discoveryServerEndpointUrl":"","capabilitiesForMDNS":"","maxNodesPerRead":1000,"maxNodesPerWrite":1000,"maxNodesPerHistoryReadData":100,"maxNodesPerBrowse":3000,"maxBrowseContinuationPoints":"10","maxHistoryContinuationPoints":"10","delayToInit":"1000","delayToClose":"200","serverShutdownTimeout":"100","addressSpaceScript":"function constructAlarmAddressSpace(server, addressSpace, eventObjects, done) {\n  // server = the created node-opcua server\n  // addressSpace = address space of the node-opcua server\n  // eventObjects = add event variables here to hold them in memory from this script\n\n  // internal sandbox objects are:\n  // node = the compact server node,\n  // coreServer = core compact server object for debug and access to NodeOPCUA\n  // this.sandboxNodeContext = node context node-red\n  // this.sandboxFlowContext = flow context node-red\n  // this.sandboxGlobalContext = global context node-red\n  // this.sandboxEnv = env variables\n  // timeout and interval functions as expected from nodejs\n\n  const opcua = coreServer.choreCompact.opcua;\n  const LocalizedText = opcua.LocalizedText;\n  const namespace = addressSpace.getOwnNamespace();\n\n  const Variant = opcua.Variant;\n  const DataType = opcua.DataType;\n  const DataValue = opcua.DataValue;\n\n  var flexServerInternals = this;\n\n  this.sandboxFlowContext.set(\"f_opc\", 0);\n  this.sandboxFlowContext.set(\"Qac_opc\", 0);\n  this.sandboxFlowContext.set(\"Pac_opc\", 0);\n  this.sandboxFlowContext.set(\"IRac_opc\", 0);\n  this.sandboxFlowContext.set(\"VRac_opc\", 0);\n  this.sandboxFlowContext.set(\"Cos(fi)_opc\", 0);\n  this.sandboxFlowContext.set(\"Eficiencia_opc\", 0);\n\n  this.sandboxFlowContext.set(\"Vcc1_opc\", 0);\n  this.sandboxFlowContext.set(\"Icc1_opc\", 0);\n  this.sandboxFlowContext.set(\"Vcc2_opc\", 0);\n  this.sandboxFlowContext.set(\"Icc2_opc\", 0);\n  this.sandboxFlowContext.set(\"Vcc3_opc\", 0);\n  this.sandboxFlowContext.set(\"Icc3_opc\", 0);\n  this.sandboxFlowContext.set(\"Vcc4_opc\", 0);\n  this.sandboxFlowContext.set(\"Icc4_opc\", 0);\n  this.sandboxFlowContext.set(\"Pcc1_opc\", 0);\n  this.sandboxFlowContext.set(\"Pcc2_opc\", 0);\n  this.sandboxFlowContext.set(\"Pcc3_opc\", 0);\n  this.sandboxFlowContext.set(\"Pcc4_opc\", 0);\n  this.sandboxFlowContext.set(\"Pcc_opc\", 0);\n  \n\n  coreServer.debugLog(\"init dynamic address space\");\n  const rootFolder = addressSpace.findNode(\"RootFolder\");\n\n  node.warn(\"construct new address space for OPC UA\");\n\n  const fvPlant = namespace.addFolder(rootFolder.objects, {\n    \"browseName\": \"Planta\"\n  });\n  const inveter0 = namespace.addFolder(fvPlant, { \"browseName\": \"Inverter0\" });\n  const Inputs = namespace.addFolder(inveter0, {\n    \"browseName\": \"Inputs\"\n  });\n  const Outputs = namespace.addFolder(inveter0, {\n    \"browseName\": \"Outputs\"\n  });\n // const isoInternal = namespace.addFolder(inveter0, {\n //   \"browseName\": \"Internal\"\n // });\n\n  const I1 = namespace.addVariable({\n    \"organizedBy\": Inputs,\n    \"browseName\": \"frecuencia\",\n    \"nodeId\": \"ns=1;s=f\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"f_opc\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"f_opc\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n\n  const I2 = namespace.addVariable({\n    \"organizedBy\": Inputs,\n    \"browseName\": \"Pot_Reactiva\",\n    \"nodeId\": \"ns=1;s=Qac\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"Qac_opc\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"Qac_opc\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n\n  const I3 = namespace.addVariable({\n    \"organizedBy\": Inputs,\n    \"browseName\": \"Pot_Activa\",\n    \"nodeId\": \"ns=1;s=Pac\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"Pac_opc\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"Pac_opc\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n\n  const I4 = namespace.addVariable({\n    \"organizedBy\": Inputs,\n    \"browseName\": \"Intensidad_ac\",\n    \"nodeId\": \"ns=1;s=IRac\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"IRac_opc\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"IRac_opc\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n\n  const I5 = namespace.addVariable({\n    \"organizedBy\": Inputs,\n    \"browseName\": \"Tension_ac\",\n    \"nodeId\": \"ns=1;s=VRac\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"VRac_opc\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"VRac_opc\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n\n  const I6 = namespace.addVariable({\n    \"organizedBy\": Inputs,\n    \"browseName\": \"Cos(fi)\",\n    \"nodeId\": \"ns=1;s=Cos(fi)\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"Cos(fi)_opc\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"Cos(fi)_opc\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n\n  const I7 = namespace.addVariable({\n    \"organizedBy\": Inputs,\n    \"browseName\": \"Eficiencia\",\n    \"nodeId\": \"ns=1;s=Eficiencia\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"Eficiencia_opc\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"Eficiencia_opc\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n\n\n\n  const O1 = namespace.addVariable({\n    \"organizedBy\": Outputs,\n    \"browseName\": \"Tension_cc_Mppt1\",\n    \"nodeId\": \"ns=1;s=Vcc1\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"Vcc1_opc\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"Vcc1_opc\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n\n  const O2 = namespace.addVariable({\n    \"organizedBy\": Outputs,\n    \"browseName\": \"Intensidad_cc_Mppt1\",\n    \"nodeId\": \"ns=1;s=Icc1\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"Icc1_opc\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"Icc1_opc\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n\n  const O3 = namespace.addVariable({\n    \"organizedBy\": Outputs,\n    \"browseName\": \"Tension_cc_Mppt2\",\n    \"nodeId\": \"ns=1;s=Vcc2\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"Vcc2_opc\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"Vcc2_opc\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n\n  const O4 = namespace.addVariable({\n    \"organizedBy\": Outputs,\n    \"browseName\": \"Intensidad_cc_Mppt2\",\n    \"nodeId\": \"ns=1;s=Icc2\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"Icc2_opc\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"Icc2_opc\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n    \n\n  const O5 = namespace.addVariable({\n    \"organizedBy\": Outputs,\n    \"browseName\": \"Tension_cc_Mppt3\",\n    \"nodeId\": \"ns=1;s=Vcc3\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"Vcc3_opc\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"Vcc3_opc\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n\n  const O6 = namespace.addVariable({\n    \"organizedBy\": Outputs,\n    \"browseName\": \"Intensidad_cc_Mppt3\",\n    \"nodeId\": \"ns=1;s=Icc3\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"Icc3_opc\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"Icc3_opc\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n\n  const O7 = namespace.addVariable({\n    \"organizedBy\": Outputs,\n    \"browseName\": \"Tension_cc_Mppt4\",\n    \"nodeId\": \"ns=1;s=Vcc4\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"Vcc4_opc\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"Vcc4_opc\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n\n  const O8 = namespace.addVariable({\n    \"organizedBy\": Outputs,\n    \"browseName\": \"Intensidad_cc_Mppt4\",\n    \"nodeId\": \"ns=1;s=Icc4\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"Icc4_opc\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"Icc4_opc\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n  \n   const O9 = namespace.addVariable({\n    \"organizedBy\": Outputs,\n    \"browseName\": \"Potencia_Mppt1\",\n    \"nodeId\": \"ns=1;s=Pcc1\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"Pcc1_opc\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"Pcc1_opc\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n  \n  const O10 = namespace.addVariable({\n    \"organizedBy\": Outputs,\n    \"browseName\": \"Potencia_Mppt2\",\n    \"nodeId\": \"ns=1;s=Pcc2\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"Pcc2_opc\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"Pcc2_opc\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n  \n  const O11 = namespace.addVariable({\n    \"organizedBy\": Outputs,\n    \"browseName\": \"Potencia_Mppt3\",\n    \"nodeId\": \"ns=1;s=Pcc3\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"Pcc3_opc\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"Pcc3_opc\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n  \n  const O12 = namespace.addVariable({\n    \"organizedBy\": Outputs,\n    \"browseName\": \"Potencia_Mppt4\",\n    \"nodeId\": \"ns=1;s=Pcc4\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"Pcc4_opc\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"Pcc4_opc\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n  \n  const O13 = namespace.addVariable({\n    \"organizedBy\": Outputs,\n    \"browseName\": \"Pcc_total\",\n    \"nodeId\": \"ns=1;s=PccTotal\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"Pcc_opc\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"Pcc_opc\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n  });\n  \n  \n  \n\n  //------------------------------------------------------------------------------\n  // Add a view\n  //------------------------------------------------------------------------------\n  const viewDI = namespace.addView({\n    \"organizedBy\": rootFolder.views,\n    \"browseName\": \"Inverter_Inputs\"\n  });\n\n  const viewDO = namespace.addView({\n    \"organizedBy\": rootFolder.views,\n    \"browseName\": \"Inverter_Outputs\"\n  });\n\n  viewDI.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": I1.nodeId\n  });\n\n  viewDI.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": I2.nodeId\n  });\n\n  viewDI.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": I3.nodeId\n  });\n\n  viewDI.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": I4.nodeId\n  });\n\n  viewDI.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": I5.nodeId\n  });\n\n  viewDI.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": I6.nodeId\n  });\n\n  viewDI.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": I7.nodeId\n  });\n\n  \n\n  viewDO.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": O1.nodeId\n  });\n\n  viewDO.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": O2.nodeId\n  });\n\n  viewDO.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": O3.nodeId\n  });\n\n  viewDO.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": O4.nodeId\n  });\n\n  viewDO.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": O5.nodeId\n  });\n\n  viewDO.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": O6.nodeId\n  });\n\n  viewDO.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": O7.nodeId\n  });\n\n  viewDO.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": O8.nodeId\n  });\n  \n  viewDO.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": O9.nodeId\n  });\n  \n  viewDO.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": O10.nodeId\n  });\n  \n  viewDO.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": O11.nodeId\n  });\n  \n  viewDO.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": O12.nodeId\n  });\n  \n  viewDO.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": O13.nodeId\n  });\n  coreServer.debugLog(\"create dynamic address space done\");\n  node.warn(\"construction of new address space for OPC UA done\");\n\n  done();\n}\n","x":1000,"y":1980,"wires":[]},{"id":"5196d167.e6898","type":"modbusSerial in","z":"69b76807.7c37d","port":"ced90a43.904b3","slaves":"2","start":"40521","count":"2","dtype":"holding","period":"10","topic":"","name":"Pac","x":190,"y":1640,"wires":[["53003f99.c3399","d72fa25d.aa186"]]},{"id":"53003f99.c3399","type":"buffer-parser","z":"69b76807.7c37d","name":"U32toDecFIX0","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint32be","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":false,"setTopic":false,"outputs":1,"x":340,"y":1640,"wires":[["4e8c8584.728e6c"]]},{"id":"4e8c8584.728e6c","type":"debug","z":"69b76807.7c37d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":1640,"wires":[]},{"id":"d72fa25d.aa186","type":"debug","z":"69b76807.7c37d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":1600,"wires":[]},{"id":"127799f4.2a973e","type":"modbusSerial in","z":"69b76807.7c37d","port":"ced90a43.904b3","slaves":"3","start":"40521","count":"2","dtype":"holding","period":"10","topic":"","name":"Pac","x":210,"y":1720,"wires":[["e89786ca.c104a","63e1c9c3.39e998"]]},{"id":"e89786ca.c104a","type":"buffer-parser","z":"69b76807.7c37d","name":"U32toDecFIX0","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint32be","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":false,"setTopic":false,"outputs":1,"x":360,"y":1720,"wires":[["cf42f712.051ab"]]},{"id":"cf42f712.051ab","type":"debug","z":"69b76807.7c37d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":1720,"wires":[]},{"id":"63e1c9c3.39e998","type":"debug","z":"69b76807.7c37d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":1680,"wires":[]},{"id":"c896a3b.617b06","type":"modbusSerial in","z":"69b76807.7c37d","port":"ced90a43.904b3","slaves":"4","start":"40521","count":"2","dtype":"holding","period":"10","topic":"","name":"Pac","x":210,"y":1800,"wires":[["c7f549ea.bbdec","60c23bf0.9d5c14"]]},{"id":"c7f549ea.bbdec","type":"buffer-parser","z":"69b76807.7c37d","name":"U32toDecFIX0","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint32be","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":false,"setTopic":false,"outputs":1,"x":360,"y":1800,"wires":[["1f93dbad.f1607c"]]},{"id":"1f93dbad.f1607c","type":"debug","z":"69b76807.7c37d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":1800,"wires":[]},{"id":"60c23bf0.9d5c14","type":"debug","z":"69b76807.7c37d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":1760,"wires":[]},{"id":"292cd168.4f4e4e","type":"modbusSerial in","z":"69b76807.7c37d","port":"ced90a43.904b3","slaves":"5","start":"40521","count":"2","dtype":"holding","period":"10","topic":"","name":"Pac","x":230,"y":1880,"wires":[["c1814a6e.cd2cf","5c5b8be8.db3a14"]]},{"id":"c1814a6e.cd2cf","type":"buffer-parser","z":"69b76807.7c37d","name":"U32toDecFIX0","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint32be","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":false,"setTopic":false,"outputs":1,"x":380,"y":1880,"wires":[["665fbbc3.85fc44"]]},{"id":"665fbbc3.85fc44","type":"debug","z":"69b76807.7c37d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":1880,"wires":[]},{"id":"5c5b8be8.db3a14","type":"debug","z":"69b76807.7c37d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":1840,"wires":[]},{"id":"ca1d2d51.d368b","type":"modbusSerial in","z":"69b76807.7c37d","port":"ced90a43.904b3","slaves":"10","start":"40521","count":"2","dtype":"holding","period":"10","topic":"","name":"Pac","x":210,"y":1980,"wires":[["51961452.09e43c","73255e30.3e2758"]]},{"id":"51961452.09e43c","type":"buffer-parser","z":"69b76807.7c37d","name":"U32toDecFIX0","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint32be","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":false,"setTopic":false,"outputs":1,"x":360,"y":1980,"wires":[["ad0ceb23.a986e8"]]},{"id":"ad0ceb23.a986e8","type":"debug","z":"69b76807.7c37d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":1980,"wires":[]},{"id":"73255e30.3e2758","type":"debug","z":"69b76807.7c37d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":1940,"wires":[]},{"id":"ced90a43.904b3","type":"modbusSerialConfig","port":"/dev/ttyUSB0","baud":"9600","data":"8","parity":"none","stop":"1","name":"Huawei"}]
